* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  color: #404040;
}
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  margin: 0 auto;
  height: 100vh;
  max-width: 50%;
  display: grid;
  place-content: center;
  text-align: center;
  color: #404040;
}
body, a{
  text-decoration: none;
}
h2{
  margin-bottom: 30px;
  text-align: center;
}
#txt{
  font-size: 2.6em;
}
#qrcode {
  color: aquamarine;
  inset: 10px;
}
.scr-div {
  display: flex;
  place-content: center;
  height: 100vh;
  text-align: center;
}
#screen-fit {
  position: absolute;
  text-align: center;
}

.btn  {
  margin: 20px;
}


/* ran pass start */

.ram-pass-box {
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  color: #222;
  background: #ddd;
}

.generator {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.generator p {
  color: #ddd;
  font-size: 24px;
}

.generator input {
  width: 100%;
  height: 50px;
  padding: 10px;
  background: none;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: #ddd;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.2s;
}

.generator input.active {
  border-color: #4dff4d;
}

.generator .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.generator button {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: capitalize;
  background: #0084ff;
  color: #ddd;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;
}

.generator button:hover {
  background: #0d72d1;
}

.generator #btncp::before {
  position: absolute;
  content: "Copied";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #4dff4d;
  transition: 0.2s linear;
  z-index: -1;
}

.generator input.active ~ .buttons #btncp::before {
  left: -70px;
}


/* ran pass end */