* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
  color: #404040;
}
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  margin: 0 auto;
  height: 100vh;
  max-width: 50%;
  display: grid;
  place-content: center;
  text-align: center;
  color: #404040;
}
body, a{
  text-decoration: none;
}
h2{
  margin-bottom: 30px;
  text-align: center;
}
#txt{
  font-size: 2.6em;
}
#qrcode {
  color: aquamarine;
  inset: 10px;
}
.scr-div {
  display: flex;
  place-content: center;
  height: 100vh;
  text-align: center;
}
#screen-fit {
  position: absolute;
  text-align: center;
}

.btn  {
  margin: 20px;
}
